alabaster==0.7.12
Babel==2.9.1
bootstrap-py==1.0.2
Brotli==1.0.9
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
dash==1.21.0
dash-bootstrap-components==0.13.0
dash-core-components==1.17.1
dash-html-components==1.1.4
dash-table==4.12.0
defusedxml==0.7.1
docutils==0.17.1
et-xmlfile==1.1.0
Flask==2.0.1
Flask-Compress==1.10.1
future==0.18.2
gitdb==4.0.7
GitPython==3.1.18
gunicorn==20.1.0
idna==3.2
imagesize==1.2.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.21.1
openpyxl==3.0.7
packaging==21.0
pandas==1.3.1
pguard==0.4.0
plotly==5.1.0
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
six==1.16.0
smmap==4.0.0
snowballstemmer==2.1.0
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tenacity==8.0.1
urllib3==1.26.6
Werkzeug==2.0.1
