.select-button {
    padding: 0.1rem 0.5rem;
}
.select-button-div {
    padding-left: 8px;
    margin-top: -5px;
}

.no-padding {
    padding: 0px
}

.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin lightgrey solid;
}



/* .Select.dcc_control.is-open {
    max-height: 100%;
    overflow-y:visible;
}
  
.Select.dcc_control {
    max-height: 70px;
    overflow-y:auto;
} */

/* #quarter_dropdown {
    max-height: 70px;
} */